<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>All Notes - EverNote</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main//service/noteService.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="assets/css/simple-sidebar.css" rel="stylesheet" />
  </head>

  <body ng-controller="EvController">
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div
          style="color: #a6a6a6; text-align: center; font-size: 35px"
          class="sidebar-heading"
        >
          Ever Notes
        </div>

        <div class="list-group list-group-flush">
          <button
            class="btn btn-primary bg-blue"
            style="
              color: aliceblue;
              margin-bottom: 10px;
              background-color: #00a82d;
              border-radius: 20px;
              margin-left: 20px;
              margin-right: 20px;
            "
            ng-click="addNewNote()"
          >
            Add Note
          </button>
          <a href="#" class="list-group-item-action">Shortcuts</a>
          <a href="#" class="list-group-item-action" ng-click="showNotes()"
            >All Notes</a
          >
          <!-- <a href="#" class="list-group-item list-group-item-action bg-light"
            >Notebooks</a
          >
          <a href="#" class="list-group-item list-group-item-action bg-light"
            >Shared with Me</a
          >
          <a href="#" class="list-group-item list-group-item-action bg-light"
            >Tags</a
          > -->
          <a href="#" class="list-group-item-action" ng-click="getTrashs()"
            >Trash</a
          >
          <a href="#" class="list-group-item-action" ng-click="clearTrashs()"
            >Clear Trash</a
          >
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <div id="center-page">
        <div class="firstElement">
          <div class="firstElement1">All Notes</div>
          <div class="firstElement2">{{ notes.length }} Notes</div>
        </div>
        <ul style="list-style: none" ng-repeat="note in notes">
          <li class="element" ng-click="changeNote(note)">{{ note.name }}</li>
        </ul>
      </div>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li>
                <!-- Search form -->
                <input
                  class="form-control"
                  type="text"
                  placeholder="Search"
                  aria-label="Search"
                />
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid" style="margin-left: 15px; margin-top: 20px;">
          <div class="top-page-content">
            Last edited on {{ currentNote.lastEdit }}
          </div>
          <div class="form-container">
            <form>
              <div class="input-group mb-3">
                <input
                  type="text"
                  placeholder="Title"
                  ng-disabled="disabled"
                  style="
                    border: none;
                    font-weight: bold;
                    outline: none;
                    font-size: 30px;
                    width: 100%;
                  "
                  aria-label=""
                  aria-describedby="basic-addon1"
                  name="name"
                  ng-model="currentNote.name"
                />
              </div>

              <div class="input-group mb-3">
                <textarea
                  placeholder="Content here"
                  ng-disabled="disabled"
                  style="
                    border: none;
                    outline: none;
                    width: 100%;
                    overflow-y: auto;
                    height: 200px;
                  "
                  aria-label=""
                  aria-describedby="basic-addon1"
                  name="content"
                  ng-model="currentNote.content"
                >
                </textarea>
                <!-- <input
                  type="text"
                  placeholder="Content here"
                  style="border: none; outline: none; width: 100%"
                  aria-label=""
                  aria-describedby="basic-addon1"
                  name="content"
                  ng-model="currentNote.content"
                /> -->
              </div>
            </form>
          </div>
          <div class="btn-group">
            <button
              class="btn btn-primary"
              ng-click="saveNote()"
              ng-disabled="disabled"
            >
              Save
            </button>
            <button
              class="btn btn-primary"
              style="margin-left: 10px"
              ng-click="deleteNote()"
              ng-disabled="disabled"
            >
              Delete
            </button>
          </div>
          <div style="margin-top: 20px" class="text-center" ng-show="loadding">
            <span class="fa fa-spinner fa-spin fa-2x"></span>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
